@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Hide scrollbar for Chrome, Safari and Opera
body::-webkit-scrollbar {
    display: none;
}

// Hide scrollbar for IE, Edge and Firefox
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

// Colors
:root {
    --color-primary: #F7FAFC;
    --color-accent: #4A5568;
    --color-background: #1A202C;
    background-color: #1A202C;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #1A202C;
        --color-accent: #A0AEC0;
        --color-background: #F8FAFC;
        background-color: #F8FAFC;
    }
}

// Images
@media (prefers-color-scheme: dark) {
    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;
    }
    img:hover {
        opacity: 1;
    }
}

// Links
.link {
    font-weight: 500;

    @media (prefers-color-scheme: dark) {
        background-image: linear-gradient(120deg, #334155 0%, #334155 100%);
    }

    background-image: linear-gradient(120deg, #CBD5E1 0%, #CBD5E1 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 90%;
    transition: background-size 0.2s ease-in;

    &:hover {
        background-size: 100% 90%;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;