<template>
    <div id="contacts">
        <Header>Contact me</Header>
        <Paragraph>Need to contact me directly? No problem just let me know on <span class="font-medium">adam.barta404@gmail.com</span>.</Paragraph>
        <Header>Other useful links</Header>
        <div class="font-light">
            <BulletPoint>Follow me on <a href="https://twitter.com/AdamBartas" target="_blank" class="link">Twitter</a>, <a href="https://linkedin.com/in/adam-bárta" target="_blank" class="link">LinkedIn</a>, and <a href="https://github.com/PeanutButte7" target="_blank" class="link">Github</a>.</BulletPoint>
            <BulletPoint>If you are interested, check out my reviews on <a href="https://opencritic.com/critic/7087/adam-b-rta" target="_blank" class="link">Opencritic</a>.</BulletPoint>
            <BulletPoint>You can also support me by <a href="https://ko-fi.com/peanutbutte7" target="_blank" class="link">buying me a coffee</a> :)</BulletPoint>
        </div>
    </div>
</template>

<script>
    import Header from "@/components/Header";
    import Paragraph from "@/components/Paragraph";
    import BulletPoint from "@/components/BulletPoint";

    export default {
        name: 'contacts',
        components: {
            Header,
            Paragraph,
            BulletPoint
        }
    }
</script>
