<template>
    <div id="paragraph" class="mb-3">
        <p class="text-lg sm:text-md font-light text-primary"><slot/></p>
    </div>
</template>

<script>
    export default {
        name: "paragraph",
    }
</script>

<style scoped>

</style>