<template>
    <div class="project">
        <h2 class="text-4xl font-semibold leading-tight text-primary pt-10 pb-4">{{ header }}</h2>
        <p class="text-lg md:text-xl font-light text-primary mb-4">{{ description }}</p>
        <img :src="require(`@/assets/Projects/${image}.png`)" alt="Project image" class="rounded-lg mb-4 shadow-lg">
        <span v-for="link in links" :key="link.id" class="mr-3 flex items-center">
            <span class="mr-1 inline-block">
                <svg v-if="link.type === 'Figma'" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 stroke-current text-primary">
                <g clip-path="url(#clip0)">
                <path d="M2.91663 3.20833C2.91663 2.66685 3.13173 2.14755 3.51462 1.76466C3.8975 1.38177 4.41681 1.16667 4.95829 1.16667H6.99996V5.25H4.95829C4.41681 5.25 3.8975 5.0349 3.51462 4.65201C3.13173 4.26912 2.91663 3.74982 2.91663 3.20833Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7 1.16667H9.04167C9.30978 1.16667 9.57527 1.21948 9.82298 1.32208C10.0707 1.42468 10.2958 1.57507 10.4853 1.76466C10.6749 1.95424 10.8253 2.17932 10.9279 2.42702C11.0305 2.67473 11.0833 2.94022 11.0833 3.20833C11.0833 3.47645 11.0305 3.74194 10.9279 3.98965C10.8253 4.23735 10.6749 4.46242 10.4853 4.65201C10.2958 4.8416 10.0707 4.99199 9.82298 5.09459C9.57527 5.19719 9.30978 5.25 9.04167 5.25H7V1.16667Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7 7.29167C7 7.02355 7.05281 6.75806 7.15541 6.51036C7.25802 6.26265 7.4084 6.03758 7.59799 5.84799C7.78758 5.6584 8.01265 5.50802 8.26036 5.40541C8.50806 5.30281 8.77355 5.25 9.04167 5.25C9.30978 5.25 9.57527 5.30281 9.82298 5.40541C10.0707 5.50802 10.2958 5.6584 10.4853 5.84799C10.6749 6.03758 10.8253 6.26265 10.9279 6.51036C11.0305 6.75806 11.0833 7.02355 11.0833 7.29167C11.0833 7.55978 11.0305 7.82527 10.9279 8.07298C10.8253 8.32069 10.6749 8.54576 10.4853 8.73534C10.2958 8.92493 10.0707 9.07532 9.82298 9.17792C9.57527 9.28052 9.30978 9.33333 9.04167 9.33333C8.77355 9.33333 8.50806 9.28052 8.26036 9.17792C8.01265 9.07532 7.78758 8.92493 7.59799 8.73534C7.4084 8.54576 7.25802 8.32069 7.15541 8.07298C7.05281 7.82527 7 7.55978 7 7.29167V7.29167Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.91663 11.375C2.91663 10.8335 3.13173 10.3142 3.51462 9.93132C3.8975 9.54844 4.41681 9.33333 4.95829 9.33333H6.99996V11.375C6.99996 11.9165 6.78486 12.4358 6.40197 12.8187C6.01908 13.2016 5.49978 13.4167 4.95829 13.4167C4.41681 13.4167 3.8975 13.2016 3.51462 12.8187C3.13173 12.4358 2.91663 11.9165 2.91663 11.375Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.91663 7.29167C2.91663 6.75018 3.13173 6.23088 3.51462 5.84799C3.8975 5.4651 4.41681 5.25 4.95829 5.25H6.99996V9.33333H4.95829C4.41681 9.33333 3.8975 9.11823 3.51462 8.73534C3.13173 8.35246 2.91663 7.83315 2.91663 7.29167Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="14" height="14" fill="white"/>
                </clipPath>
                </defs>
            </svg>
                <svg v-else-if="link.type === 'Github'" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 stroke-current text-primary">
                <g clip-path="url(#clip0)">
                    <path d="M9.33329 12.8333V10.5758C9.35517 10.2977 9.31759 10.0181 9.22305 9.75554C9.12851 9.49304 8.97917 9.25366 8.78496 9.05333C10.6166 8.84917 12.5416 8.155 12.5416 4.97C12.5415 4.15557 12.2282 3.37237 11.6666 2.7825C11.9325 2.06996 11.9137 1.28237 11.6141 0.583334C11.6141 0.583334 10.9258 0.379167 9.33329 1.44667C7.9963 1.08431 6.58695 1.08431 5.24996 1.44667C3.65746 0.379167 2.96913 0.583334 2.96913 0.583334C2.66951 1.28237 2.65071 2.06996 2.91663 2.7825C2.35087 3.37674 2.03726 4.16702 2.04163 4.9875C2.04163 8.14917 3.96663 8.84333 5.79829 9.07083C5.60637 9.26915 5.45836 9.50565 5.36389 9.76495C5.26942 10.0243 5.2306 10.3005 5.24996 10.5758V12.8333M5.24996 11.0833C2.33329 11.9583 2.33329 9.625 1.16663 9.33333L5.24996 11.0833Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="14" height="14" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                <svg v-else-if="link.type === 'Itch'" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 fill-current text-primary">
                    <path d="M7.99492 0.96875C5.9255 0.96875 3.10271 1.00111 2.52999 1.05202C1.88728 1.43765 0.615022 2.8975 0.602295 3.27677V3.91312C0.602295 4.71683 1.35504 5.42322 2.03657 5.42322C2.85301 5.42322 3.53424 4.7423 3.53424 3.93922C3.53424 4.7423 4.19621 5.42322 5.01202 5.42322C5.83482 5.42322 6.47115 4.74294 6.47115 3.93922C6.47115 4.7423 7.16466 5.42322 7.98746 5.42322H8.00113C8.82394 5.42322 9.51744 4.74294 9.51744 3.93922C9.51744 4.7423 10.1601 5.42322 10.9766 5.42322C11.793 5.42322 12.4556 4.74294 12.4556 3.93922C12.4556 4.7423 13.1368 5.42322 13.9533 5.42322C14.6348 5.42322 15.3863 4.71683 15.3863 3.91312V3.27677C15.3736 2.8975 14.1013 1.43765 13.4586 1.05202C11.4592 0.981388 10.0643 0.96875 7.99492 0.96875ZM6.43635 5.25916C5.76627 6.41095 4.08282 6.42477 3.42611 5.26661C3.02521 5.96151 2.11776 6.22982 1.72958 6.0981C1.61631 7.30653 1.53816 13.5105 2.36096 14.5509C4.77719 15.1141 11.2814 15.102 13.6289 14.5509C14.5802 13.5811 14.3672 7.21871 14.2603 6.0981C13.8721 6.22982 12.9645 5.96151 12.5699 5.26661C11.9062 6.42477 10.2229 6.41095 9.55348 5.25916C9.34667 5.6346 8.86481 6.12917 7.99492 6.12917C7.35666 6.15399 6.75517 5.8096 6.43635 5.25916ZM5.08038 6.69592C5.58946 6.69592 6.05409 6.69622 6.61408 7.31984C7.5368 7.22439 8.45304 7.22439 9.37575 7.31984C9.94211 6.70258 10.4004 6.70213 10.9095 6.70213C12.5513 6.70213 12.9463 9.12654 13.5381 11.2138C14.0727 13.1546 13.3588 13.2061 12.4742 13.2061C11.157 13.1552 10.426 12.2008 10.426 11.2399C9.19782 11.4435 7.23746 11.5199 5.56385 11.2399C5.56385 12.2008 4.83284 13.1552 3.5156 13.2061C2.63107 13.2061 1.91716 13.1546 2.45169 11.2138C3.0435 9.11381 3.43859 6.70213 5.08038 6.70213V6.69592ZM7.99492 8.52668C7.99492 8.52668 6.91694 9.52093 6.72221 9.86774L7.42692 9.84164V10.4569C7.42692 10.4938 7.94783 10.4618 7.99492 10.4618C8.27937 10.4727 8.56291 10.483 8.56291 10.4569V9.84164L9.26762 9.86774C9.0729 9.52029 7.99492 8.52668 7.99492 8.52668Z"/>
                </svg>
                <svg v-else-if="link.type === 'Link'" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 stroke-current text-primary">
                    <path d="M5.83337 7.58332C6.08389 7.91823 6.4035 8.19535 6.77053 8.39587C7.13756 8.5964 7.54342 8.71564 7.96059 8.74552C8.37775 8.7754 8.79647 8.7152 9.18833 8.56903C9.58019 8.42286 9.93602 8.19412 10.2317 7.89832L11.9817 6.14832C12.513 5.59824 12.807 4.86148 12.8003 4.09674C12.7937 3.332 12.487 2.60046 11.9462 2.05969C11.4054 1.51891 10.6739 1.21217 9.90913 1.20553C9.14439 1.19888 8.40763 1.49286 7.85754 2.02416L6.85421 3.02166" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.16666 6.41667C7.91615 6.08177 7.59654 5.80465 7.22951 5.60413C6.86248 5.4036 6.45661 5.28436 6.03945 5.25448C5.62228 5.2246 5.20357 5.28479 4.81171 5.43097C4.41985 5.57714 4.06401 5.80588 3.76833 6.10167L2.01833 7.85167C1.48703 8.40176 1.19305 9.13852 1.1997 9.90326C1.20634 10.668 1.51308 11.3995 2.05386 11.9403C2.59463 12.4811 3.32617 12.7878 4.09091 12.7945C4.85565 12.8011 5.5924 12.5071 6.14249 11.9758L7.13999 10.9783" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <a :href="link.url" target="_blank" class="link text-lg font-medium text-primary">{{link.text === undefined ? link.type : link.text}}</a>
        </span>
    </div>
</template>

<script>
    export default {
        name: 'project',
        components: {
        },
        props: {
            header: {
                required: true,
                type: String
            },
            description: {
                required: true,
                type: String
            },
            image: {
                required: false,
                type: String
            },
            links: {
                required: false,
                type: Array
            }
        },
        data () {
            return {
                publicPath: process.env.BASE_URL,
            }
        }
    }
</script>
